@import url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
* {
    font-family: "Spoqa Han Sans Neo", "sans-serif";
}
html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
a{
    color: #000000;
    text-decoration: none;
}
ul > li{
    font-size: 14px;
    font-weight: 300;
}

/* common */
.full_page{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    max-width: 800px;
    min-width: 260px;
}
.title{
    font-size: 36px;
    color: #ff8331;
    font-weight: 700;
}
.line{
    width: 100%;
    height: 1px;
    margin: 70px 0;
    background-color: #d2d6da;
}

/* contact */
.contact{
    display: flex;
    justify-content: space-between;
}
.contact .profile_wrap{
    display: flex;
    align-items: center;
}
.contact .profile_wrap .profile{
    height: 240px;
}
.contact .content{
    padding: 24px 30px 0 0;
}

/* introduce */
.introduce{
    margin-top: 8px;
}
.introduce .content{
   margin-bottom: 24px;
   font-weight: 400;
}

/* experience */
.experience{
    display: flex;
    flex-wrap: wrap;
    margin: 45px 0;
}
.experience:not(:last-child){
    border-bottom: 1px solid #d2d6da;
}
.experience .experience_item:nth-child(odd){
    width: 20%;
}
.experience .experience_item:nth-child(even){
    width: 75%;
}
.experience .line_space{margin: 24px;}

/* license */
.license{
    margin-top: 8px;
}

/* education */
.education{
    margin-top: 8px;
}

/* skill */
.sub_title{
    font-size: 24px;
    font-weight: 700;
}
.skill_container{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}
.skill_item{
    /* flex: 0 1 45%; */
    width: 45%;
    height: 250px;
    border-radius: 8px;
    box-shadow: 5px 5px 24px rgb(68 68 68 / 20%);
}
.skill_item:not(:nth-child(2n)){
    margin: 0 24px 24px 0;
}
.skills >img{
    height: 70px;
}


@media (max-width: 430px) {
    /* layout */
    .container{
        padding: 0 24px;
    }
    .title{
        font-size: 18px;
    }
    .line{
        margin: 30px 0;
    }
    ul > li{
        font-size: 8px;
        font-weight: 300;
    }

    /* introduce me */
    .me{
        font-size: 16px;
    }

    /* contact */
    .contact .profile_wrap .profile{
        height: 120px;
        margin-right: 24px;
    }
    .contact .content{
        font-size: 12px;
    }

    /* introduce */
    .introduce .content{
        margin-bottom: 24px;
        font-weight: 400;
        font-size: 8px;
    }

    /* experience */
    .experience{
        margin: 12px 0;
        font-size: 10px;
    }

    /* license */
    .license{
        font-size: 8px;
    }

    /* education */
    .education{
        font-size: 8px;
    }

    /* skill */
    .sub_title{
        font-size: 16px;
    }
    .skills >img{
        height: 40px;
    }
}